$primary: #404893;
$dark: #343f42;
$border-color: #e4e4e4;

$categoryColors: (
  0: #404893,
  1: #948240,
  2: #3b3d54,
  3: #6a4895,
  4: #343f42,
  5: #3a7294,
  6: #404893,
  7: #948240,
  8: #3b3d54,
  9: #6a4895,
  10: #343f42,
  11: #3a7294
);
