@font-face {
  font-family: 'FuturaPT';
  //src: url('/fonts/FuturaPT-Light.ttf');
  src: url('/fonts/FuturaPT-Light.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('/fonts/FuturaPT-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
