html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  //-moz-osx-font-smoothing: grayscale;
  //-webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  font-size: 16px;
  min-height: 100vh;
  font-family: 'FuturaPT';
  font-weight: 400;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  color: #000;
  background-color: #fafafc;
}
a {
  color: #000;
  text-decoration: none;
}
h1,
h2,
h3 {
  font-weight: 700;
  color: $dark;
  text-align: left;
}
h1 {
  font-size: 32px;
  margin-bottom: 0;
}
h2 {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 26px;
}
h3 {
  font-size: 24px;
  margin-bottom: 12px;
}
.pointer {
  cursor: pointer;
}
.text-muted {
  color: #828282 !important;
}
.form-label {
  font-weight: 600;
}
.small {
  font-size: 12px;
}
.form-control {
  .n-input-wrapper {
    width: 100%;
  }
}
.html-article {
  font-size: 18px;
  p {
    margin-bottom: 0;
  }
}
.mt-section {
  margin-top: 80px;
}
.mb-section {
  margin-bottom: 80px;
}
.min-h-100vh {
  min-height: 100vh;
}
.svg-primary {
  fill: $primary;
}
.svg-white {
  fill: white;
}
.n-card-header .n-base-icon {
  display: flex;
}
.narrow-content {
  max-width: 500px;
}
//hr {
//  margin: 20px 0;
//  background: $border-color;
//  border-color: $border-color;
//}
.page-enter-active,
.page-leave-active {
  transition: all 0.25s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
.bounce-enter-active {
  animation: bounce-in 0.3s;
}
.bounce-leave-active {
  animation: bounce-in 0.3s reverse;
}
@keyframes bounce-in {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 100vh;
  }
}
.noscroll {
  height: 100vh;
  overflow-y: hidden;
}

@media screen and (max-width: 768px) {
  h1,
  .h1 {
    font-size: 20px;
    margin-bottom: 4px;
  }
  h2,
  h3 {
    font-size: 16px;
  }
  body {
    font-size: 13px;
  }
  .mt-section {
    margin-top: 40px;
  }
  .mb-section {
    margin-bottom: 40px;
  }
  .html-article {
    font-size: 13px;
  }
}
