.bubble {
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: $dark;
}
.default-tag {
  border: 1px solid rgba(205, 205, 205, 1);
  color: $primary;
  display: flex;
  min-width: 170px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 55px;
  height: 60px;
}
@media screen and (max-width: 768px) {
  .default-tag {
    font-size: 12px;
    background: white;
    min-width: 100px;
    height: 30px;
  }
}
