.round-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  &.n-button--loading {
    .n-button__content {
      display: none;
    }
    .n-button__icon {
      margin-right: 0;
    }
  }
}
