.round-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  &.n-button--loading {
    .n-button__content {
      display: none;
    }
    .n-button__icon {
      margin-right: 0;
    }
  }
}
.btn-themed {
  background-color: $primary;
  color: white;
  border: none !important;
  border-radius: 8px;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  min-height: 50px;
  font-size: 18px;
  &:hover,
  &:focus,
  &:active {
    background-color: $primary !important;
    color: white !important;
    border: none !important;
    svg:not(.n-base-loading__svg) {
      left: 5px;
    }
  }
  &:disabled {
    background-color: $primary !important;
    color: white !important;
  }
  svg:not(.n-base-loading__svg) {
    transition: all 0.15s ease-in-out;
    position: relative;
    margin-left: 20px;
    left: 0;
  }
}

@media screen and (max-width: 768px) {
  .btn-themed {
    min-height: 40px;
  }
  .btn-themed.btn-purchase {
    height: 50px;
    font-size: 16px;
  }
}
